body {
	margin: 0px;
	padding: 0px;
	background:black;
}

#gameframe {
	position: absolute;
	top: 0;
	left: 0;
}

#loading {
	width: 36px;
	height: 36px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-18px;
	margin-top:-18px;
	background:url(../img/loading.gif);
}

@font-face {
	font-family: 'Bones';
	src: url('../img/font/Bones.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
    background-color: black!important;
}